
$secondary-color: #125688;

@import "node_modules/materialize-css/sass/materialize.scss";

body {
	background: #fafafa;
	color: #125688;
	font-family: 'Montserrat', sans-serif;
}

#main-container {
}

.iphone {
	max-width: 100%;
}

.site-footer {
	text-transform: uppercase;
	font-size: 12px;
}

.login-box, .signup-box {
	background: white;
	border: 1px solid #edeeee;
	border-radius: 3px;
	padding: 10px 0;
	text-align: center;
}

.platzigram {
	font-family: 'Oleo Script', cursive;
	color: $secondary-color !important;
}

.signup-form{
width: 65%;
margin: 0 auto;
}

.signup-form h2{
	color: #a5a7aa;
font-size: 1.2em;
}

.signup-form .btn.btn-fb{
	background: #4090db;
	font-size: .8em;
}

.signup-form .btn.btn-fb:hover{
	background-color: #2d6599;
}

.signup-form .btn.btn-signup{
	background-color: #125688;
}
.header{
	background-color: white;
	color :$secondary-color;
	box-shadow: none;
	border-bottom: 1px solid #edeeee;
}

.chip {
    font-size: 18px;
    background-color: #f5f5f5;
}

.landing{
	margin: 30px auto;
}

.timeline {
	padding: 30px 0;
}

.liketitle {
	margin-right: 8px;
	margin-top: -12px;
	color: $secondary-color;
}

.card .likes{
	line-height: 30px;
	margin-left: 12px;
}

.card i{
	font-size: 22px;
}

.card .fa-heart-o{
	color: $secondary-color;
	margin-top: -12px;
}
.card .fa-heart{
	color: #f44336;
	margin-top: -12px;
	display: none;
}

.card.liked {
  .fa-heart {
    display: block;
  }

  .fa-heart-o {
    display: none;
  }
}

.btn-large {
    height: 64px;
    line-height: 54px;
}

.form-upload{
	span, button{
		color: white;
	}

	.fileUpload{
		position: relative;
		overflow: hidden;
		margin:10px;
		input {
			position: absolute;
			top: 0;
			bottom:0;
			right:0;
			margin:0;
			padding:0;
			font-size:20px;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
		}
	}
}
